@use "@toife/sass-layer" as sl;

@mixin glass() {
  .glass{
    backdrop-filter: #{sl.fn-naming-var("backdrop-filter")} !important;
    box-shadow: #{sl.fn-naming-var("box-shadow")} !important;
  }

  .glass-none {
    backdrop-filter: none !important;
    box-shadow: none !important;
  }
}
