$opacity-values: (
  0: 0,
  25: 0.25,
  50: 0.5,
  75: 0.75,
  100: 1,
);

@mixin visibility() {
  @each $name, $value in $opacity-values {
    .opacity-#{$name} {
      opacity: $value;
    }
  }
  .visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  .collapse {
    visibility: collapse;
  }
}
